* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 40vw;
    margin: 0 auto;
    box-shadow: 0 1px 2px black;
}

header {
    width: 40vw;
    height: 72px;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 0 1px 2px black;
    z-index: 10;
}

section {
    display: flex;
    height: 100vh;
    box-shadow: 0 1px 2px black;
}

.kawa1 {
    background-image: url(kawa1.jpg);
}

.kawa2 {
    background-image: url(kawa2.jpg);
}

.kawa3 {
    background-image: url(kawa3.jpg);
}

.color3 {
    flex-wrap: wrap;
}

.black {
    background-color: black;
}

.orange {
    background-color: sandybrown;
}

.blue {
    background-color: royalblue;
}

.red {
    background-color: tomato;
}

.kawa4 {
    background-image: url(kawa4.jpg);
}

.color__container--large {
    height: 100vh;
    width: 100%;
}

.color__container--medium {
    height: 50vh;
    width: 50%;
}

body {
    align-content: center;
}

.kawa {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}